.container {
	width: 66%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: auto;
}

.grid-list {
	width: 100%;
	border: solid 2px black;
}

mat-grid-tile {
	border: solid 2px black;
}

.button {
	cursor: pointer;
}
